<div class="encuestas-publicas-container">
    <mat-card class="encuestas-publicas-card">
        <h1>Encuestas públicas</h1>
        <mat-card class="encuestas-publicas-preview-card">
            <div class="col50">
                <h3>Perritos</h3>
                <p>¿Cuál es tu raza de perro favorita?</p>
            </div>
            <div class="col50">
                <div class="encuestas-publicas-preview-card-buttons">
                    <button mat-button>Participar</button>
                    <button mat-button>Ver resultados</button>
                </div>
            </div>
        </mat-card>
        <mat-card class="encuestas-publicas-preview-card">
            <div class="col50">
                <h3>Perritos</h3>
                <p>¿Cuál es tu raza de perro favorita?</p>
            </div>
            <div class="col50">
                <div class="encuestas-publicas-preview-card-buttons">
                    <button mat-button>Participar</button>
                    <button mat-button>Ver resultados</button>
                </div>
            </div>
        </mat-card>
        <mat-card class="encuestas-publicas-preview-card">
            <div class="col50">
                <h3>Perritos</h3>
                <p>¿Cuál es tu raza de perro favorita?</p>
            </div>
            <div class="col50">
                <div class="encuestas-publicas-preview-card-buttons">
                    <button mat-button>Participar</button>
                    <button mat-button>Ver resultados</button>
                </div>
            </div>
        </mat-card>
        <mat-card class="encuestas-publicas-preview-card">
            <div class="col50">
                <h3>Perritos</h3>
                <p>¿Cuál es tu raza de perro favorita?</p>
            </div>
            <div class="col50">
                <div class="encuestas-publicas-preview-card-buttons">
                    <button mat-button>Participar</button>
                    <button mat-button>Ver resultados</button>
                </div>
            </div>
        </mat-card>
    </mat-card>
</div>